.card-div{
    display: flex;
    flex-wrap: wrap;
}
.main{
    margin: 170px 170px;
    width: 70%;
}
.btn{
    margin-left: 82%;
    background: white;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;
    cursor: pointer;
}